<nav class="main-nav">
	<button aria-label="Close Navigation" onclick="mainNav.close()" id="nav-close"><b></b></button>
	<ul>
		<li>home</li>
		<li>agenda</li>
		<li>speakers</li>
		<li>sponsors</li>
		<li>register</li>
	</ul>
</nav>