<nav class="main-nav">
	<button aria-label="Close Navigation" onclick="mainNav.close()" id="nav-close"><b></b></button>
	<ul>
		<li><a href="#">home</a></li>
		<li><a href="#overview">overview</a></li>
		<li><a href="#agenda">agenda</a></li>
		<li><a href="#speakers">speakers</a></li>
		<li><a href="#sponsors">sponsors</a></li>
		<li><a href="#register">register</a></li>
	</ul>
</nav>