<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/rrr6wuy.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ name }} | The Financial Costs of a Warming Planet</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body {% if tags %}class="{{ tags }}"{% endif %}>

    <div class="container">
      {% include "header.njk" %}
      <article>
        <header>
          <figure>
            <img src="../../images/{{ img }}" alt="{{ imgAlt }}">
          </figure>
          <div class="speaker-meta">
            <h1>{{ name }}</h1>
            <p class="affiliations">
              {{ affiliations }}
            </p>
          </div>
        </header>
        {{ content | safe }}
      </article>
      {% include "footer.njk" %}
    </div>

    {% set js %}
      {% include "js/core.js" %}
      {% include "js/hello.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

  </body>
</html>



